<div class="col-md-2">
    <?php include_once '/news_parts/article_adv_left.html'; ?>
</div>

<div class="col-md-8">
    <div class="col-md-12">
        <?php include_once '/news_parts/article_title.html'; ?>
    </div>
    <div class="col-md-12">
        <?php include_once '/news_parts/article_pic_carousel.html'; ?>
    </div>
    <div class="col-md-12">
        <?php include_once '/news_parts/article_text.html'; ?>
    </div>
    <div class="col-md-12">
        <?php include_once '/news_parts/article_tags.html'; ?>
    </div>
    <div class="col-md-12">
        <!--TODO this-->
        <div class="container">
            how much reading total readers
        </div>
    </div>
    <div class="col-md-12">
        <!--container for comments TODO this-->
        <div class="container">
            comments
        </div>

    </div>
</div>

<div class="col-md-2">
    <?php include_once '/news_parts/article_adv_right.html'; ?>
</div>